                        <li class="self">
                            <div class="avatar"><img src="(profile_path)" alt=""></div>
                            <div class="msg">
                                <p class="msg-name">replier-content</p>
                                <p class="msg-text">reply-content
                                    <emoji class="pizza"></emoji>
                                </p>
                                <time>"(the time)"</time>
                            </div>
                        </li>