<!DOCTYPE html>
<html lang="en">
<head>
<style>
.qwe{
width: 200px;
height: auto;
max-height: 200px;
background-color: #CCCCCC;
overflow-y: scroll;
}
.textarea textarea{
	height:62px;
	font-size:13px;
	margin-top:10px;
	margin-left:28px;
	border:none;
	resize:none;
	outline:none;
	line-height:20px;
	overflow-y:visible;
	background:none;
}
.enter{
    padding: 3px 10px;
    position: absolute;
    left: 280px;
    top: 57px;
}
</style>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<div class="textarea" style="width: 335px; background-color: rgb(245, 245, 245);">
    <div class="clear"></div>
    <textarea style="width: 285px;"></textarea>
    <input class="enter" value="Login" type="submit"/>
</div>

</body>
</html>